
        <form action="/user/register" method="post">
            <div class="wrapper wrapper-content login-main">
                <div class="login">
                    <div class="login-p">
                        <input type="text" name="Name" placeholder="用户名" />
                    </div>
                    <div class="login-p">
                        <input type="text" name="Account" placeholder="请输入账号" />
                    </div>
                    <div class="login-p">
                        <input type="password" name="PassWord" placeholder="请输入密码" />
                    </div>
                    <div class="login-p">
                        <input type="password" name="PassWord" placeholder="请再次输入密码" />
                    </div>
                    
                    <div class="login-p">
                        <button type="submit" class="btn btn-primary btn-xs">注册</button>
                    </div>
                </div>
            </div>
        </form>