
<div class="page-content">

    <div class="page-header">
        <h1>
            设置
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                公司信息
            </small>
        </h1>
    </div><!-- /.page-header -->
    <style>
    </style>
    <div class="row">
        <div class="col-xs-12">
            <div>
                <div class="row mt15">
                    <div class="col-xs-6">
                        <div class="dataTables_length" id="sample-table-2_length">
                            本项目由帅的不要不要的驰爸爸Copy而成！！
                        </div>
                    </div>

                </div>

            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->